<%- include('../header') %>

    <h1>Log Income for <%= jobName %>
    </h1>

    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <div class="button-container">
                    <a id="todayLink" href="#" class="btn fixed-width-button button">Today</a>
                </div>
                <div id="todayDateContainer"></div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <div class="button-container">
                    <a id="dateLink" href="#" class="btn fixed-width-button button">Select Date</a>
                </div>
                <div id="todayDateContainer"></div>
                <div>
                    <select id="day" onchange="handleDateSelection()">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>

                    </select>
                    <select id="month" onchange="handleDateSelection()">
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select id="year" onchange="handleDateSelection()">

                    </select>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Display today's date when the page loads
        document.addEventListener("DOMContentLoaded", function () {
            displayToday();
            populateYearOptions();
        });

        function displayToday() {
            var todayDate = new Date();
            var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
            var formattedDate = todayDate.toLocaleDateString('en-US', options).replace(/\//g, '-'); // Replace slashes with dashes
            document.getElementById('todayDateContainer').innerHTML = formattedDate;

            // Update the URL for the "Today" link
            var url = "/selectJob/<%= encodeURIComponent(jobName) %>/data-entry/" + formattedDate;
            document.getElementById('todayLink').href = url;
        }

        function handleDateSelection() {
            var selectedDay = document.getElementById('day').value;
            var selectedMonth = document.getElementById('month').value;
            var selectedYear = document.getElementById('year').value;
            var selectedDate = selectedYear + '-' + selectedMonth + '-' + selectedDay;
            var formattedDate = new Date(selectedDate).toLocaleDateString('en-US', {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            });

            // Update the URL for the "Select Date" link
            document.getElementById('dateLink').href = "/selectJob/<%= encodeURIComponent(jobName) %>/data-entry/" + selectedDate;

            // Display the selected date
            document.getElementById('selectedDateContainer').innerHTML = formattedDate;
        }

        function populateYearOptions() {
            var currentYear = new Date().getFullYear();
            var yearDropdown = document.getElementById('year');

            for (var i = currentYear; i <= currentYear + 10; i++) {
                var option = document.createElement('option');
                option.value = i;
                option.textContent = i;
                yearDropdown.appendChild(option);
            }
        }
    </script>



    <%- include('../footer') %>